<% authorized?("tag", @ticket.project) do %>
  <div>
    <%= link_to "x", remove_ticket_tag_path(@ticket, tag),
        method: :delete,
        remote: true,
        id: "delete-#{tag.name.parameterize}" %>
    <% end %>
    <%= tag.name %>
  </div>
